<div class="custom--thumbnails">
    <h1>Why CanvasPrints.com for your Photo/Art Canvases?</h1>
    <div class="product-description is-mobile after-upload-desc">{{ product.description }}</div>
    <div class="thumbnails--wrapper">
      <div class="thumbnail-item">
        <div class="thumbnail-img"><img src="{{ 'custom_cotton_blended-canvas.jpg' | file_img_url: '400x' }}" alt="Real, Thick Cotton Blended Canvas"></div>
        <div class="thumbnail-description">
          <p>Real, Thick Cotton Blended Canvas</p>
        </div>
      </div>

      <div class="thumbnail-item">
        <div class="thumbnail-img"><img src="{{ 'custom_in-house_frame_shop.jpg' | file_img_url: '400x' }}" alt="In-House Advanced Wood Shop"></div>
        <div class="thumbnail-description">
          <p>In-House Advanced Wood Shop</p>
        </div>
      </div>

      <div class="thumbnail-item">
        <div class="thumbnail-img"><img src="{{ 'advanced_automated_framing.jpg' | file_img_url: '400x' }}" alt="Automated Stretching Equipment for a perfect stretch every time."></div>
        <div class="thumbnail-description">
          <p>Automated Stretching Equipment for a perfect stretch every time.</p>
        </div>
      </div>

      <div class="thumbnail-item">
        <div class="thumbnail-img"><img src="{{ 'water_proof_lnks.jpg' | file_img_url: '400x' }}" alt="Water Proof inks. (If the canvas gets dirty, just wipe it away!)"></div>
        <div class="thumbnail-description">
          <p>Water Proof inks. (If the canvas gets dirty, just wipe it away!)</p>
        </div>
      </div>
    </div>
  </div>

