{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}
<div class="wrapper">
  <div class="grid">
    <div class="grid__item">
    {% section 'woven-blanket-template' %}
    </div>
  </div>
</div>

{% section 'product-guarantee' %}

<div class="wrapper">
  <div class="grid">
    <div class="grid__item">
    {% section 'product-recommendations' %}
    </div>
  </div>

</div>

<!-- Canonical -->
<link rel="canonical" href="{{ canonical_url }}" />

{% comment %}
<!-- Reviews.io Data Rich Snippets -->
<script src="https://widget.reviews.io/rich-snippet/dist.js"></script><script>richSnippet({store: 'canvasprints.com',sku: 'SKU-GOES-HERE'});</script>

<script src="https://widget.reviews.io/product/dist.js"></script>

<div id="widget"></div>

<script type="text/javascript">

productWidget("widget",{

store: "canvasprints.com",

sku: "CP-0001-88;CP-0001-89;CP-0001-810;CP-0001-811;CP-0001-812;CP-0001-813;CP-0001-814;CP-0001-815;CP-0001-816;CP-0001-817;CP-0001-818;CP-0001-819;CP-0001-820;CP-0001-821;CP-0001-822;CP-0001-823;CP-0001-824;CP-0002-825;CP-0002-826;CP-0002-827;CP-0002-828;CP-0002-829;CP-0002-830;CP-0002-831;CP-0002-832;CP-0002-833;CP-0002-834;CP-0002-835;CP-0002-836;CP-0002-837;CP-0002-838;CP-0002-839;CP-0002-840;CP-0001-98;CP-0001-108;CP-0001-118;CP-0001-128;CP-0001-138;CP-0001-148;CP-0001-158;CP-0001-168;CP-0001-178;CP-0001-188;CP-0001-198;CP-0001-208;CP-0001-218;CP-0001-228;CP-0001-238;CP-0001-248;CP-0002-258;CP-0002-268;CP-0002-278;CP-0002-288;CP-0002-298;CP-0002-308;CP-0002-318;CP-0002-328;CP-0002-338;CP-0002-348;CP-0002-358;CP-0002-368;CP-0002-378;CP-0002-388;CP-0002-398;CP-0002-408;CP-0001-99;CP-0001-910;CP-0001-911;CP-0001-912;CP-0001-913;CP-0001-914;CP-0001-915;CP-0001-916;CP-0001-917;CP-0001-918;CP-0001-919;CP-0001-920;CP-0001-921;CP-0001-922;CP-0001-923;CP-0001-924;CP-0002-925;CP-0002-926;CP-0002-927;CP-0002-928;CP-0002-929;CP-0002-930;CP-0002-931;CP-0002-932;CP-0002-933;CP-0002-934;CP-0002-935;CP-0002-936;CP-0002-937;CP-0002-938;CP-0002-939;CP-0002-940;CP-0001-109;CP-0001-119;CP-0001-129;CP-0001-139;CP-0001-149;CP-0001-159;CP-0001-169;CP-0001-179;CP-0001-189;CP-0001-199;CP-0001-209;CP-0001-219;CP-0001-229;CP-0001-239;CP-0001-249;CP-0002-259;CP-0002-269;CP-0002-279;CP-0002-289;CP-0002-299;CP-0002-309;CP-0002-319;CP-0002-329;CP-0002-339;CP-0002-349;CP-0002-359;CP-0002-369;CP-0002-379;CP-0002-389;CP-0002-399;CP-0002-409;CP-0001-1010;CP-0001-1011;CP-0001-1012;CP-0001-1013;CP-0001-1014;CP-0001-1015;CP-0001-1016;CP-0001-1017;CP-0001-1018;CP-0001-1019;CP-0001-1020;CP-0001-1021;CP-0001-1022;CP-0001-1023;CP-0001-1024;CP-0002-1025;CP-0002-1026;CP-0002-1027;CP-0002-1028;CP-0002-1029;CP-0002-1030;CP-0002-1031;CP-0002-1032;CP-0002-1033;CP-0002-1034;CP-0002-1035;CP-0002-1036;CP-0002-1037;CP-0002-1038;CP-0002-1039;CP-0002-1040;CP-0001-1110;CP-0001-1210;CP-0001-1310;CP-0001-1410;CP-0001-1510;CP-0001-1610;CP-0001-1710;CP-0001-1810;CP-0001-1910;CP-0001-2010;CP-0001-2110;CP-0001-2210;CP-0001-2310;CP-0001-2410;CP-0002-2510;CP-0002-2610;CP-0002-2710;CP-0002-2810;CP-0002-2910;CP-0002-3010;CP-0002-3110;CP-0002-3210;CP-0002-3310;CP-0002-3410;CP-0002-3510;CP-0002-3610;CP-0002-3710;CP-0002-3810;CP-0002-3910;CP-0002-4010;CP-0001-1111;CP-0001-1112;CP-0001-1113;CP-0001-1114;CP-0001-1115;CP-0001-1116;CP-0001-1117;CP-0001-1118;CP-0001-1119;CP-0001-1120;CP-0001-1121;CP-0001-1122;CP-0001-1123;CP-0001-1124;CP-0002-1125;CP-0002-1126;CP-0002-1127;CP-0002-1128;CP-0002-1129;CP-0002-1130;CP-0002-1131;CP-0002-1132;CP-0002-1133;CP-0002-1134;CP-0002-1135;CP-0002-1136;CP-0002-1137;CP-0002-1138;CP-0002-1139;CP-0002-1140;CP-0001-1211;CP-0001-1311;CP-0001-1411;CP-0001-1511;CP-0001-1611;CP-0001-1711;CP-0001-1811;CP-0001-1911;CP-0001-2011;CP-0001-2111;CP-0001-2211;CP-0001-2311;CP-0001-2411;CP-0002-2511;CP-0002-2611;CP-0002-2711;CP-0002-2811;CP-0002-2911;CP-0002-3011;CP-0002-3111;CP-0002-3211;CP-0002-3311;CP-0002-3411;CP-0002-3511;CP-0002-3611;CP-0002-3711;CP-0002-3811;CP-0002-3911;CP-0002-4011;CP-0001-1212;CP-0001-1213;CP-0001-1214;CP-0001-1215;CP-0001-1216;CP-0001-1217;CP-0001-1218;CP-0001-1219;CP-0001-1220;CP-0001-1221;CP-0001-1222;CP-0001-1223;CP-0001-1224;CP-0002-1225;CP-0002-1226;CP-0002-1227;CP-0002-1228;CP-0002-1229;CP-0002-1230;CP-0002-1231;CP-0002-1232;CP-0002-1233;CP-0002-1234;CP-0002-1235;CP-0002-1236;CP-0002-1237;CP-0002-1238;CP-0002-1239;CP-0002-1240;CP-0001-1312;CP-0001-1412;CP-0001-1512;CP-0001-1612;CP-0001-1712;CP-0001-1812;CP-0001-1912;CP-0001-2012;CP-0001-2112;CP-0001-2212;CP-0001-2312;CP-0001-2412;CP-0002-2512;CP-0002-2612;CP-0002-2712;CP-0002-2812;CP-0002-2912;CP-0002-3012;CP-0002-3112;CP-0002-3212;CP-0002-3312;CP-0002-3412;CP-0002-3512;CP-0002-3612;CP-0002-3712;CP-0002-3812;CP-0002-3912;CP-0002-4012;CP-0001-1313;CP-0001-1314;CP-0001-1315;CP-0001-1316;CP-0001-1317;CP-0001-1318;CP-0001-1319;CP-0001-1320;CP-0001-1321;CP-0001-1322;CP-0001-1323;CP-0001-1324;CP-0002-1325;CP-0002-1326;CP-0002-1327;CP-0002-1328;CP-0002-1329;CP-0002-1330;CP-0002-1331;CP-0002-1332;CP-0002-1333;CP-0002-1334;CP-0002-1335;CP-0002-1336;CP-0002-1337;CP-0002-1338;CP-0002-1339;CP-0002-1340;CP-0001-1413;CP-0001-1513;CP-0001-1613;CP-0001-1713;CP-0001-1813;CP-0001-1913;CP-0001-2013;CP-0001-2113;CP-0001-2213;CP-0001-2313;CP-0001-2413;CP-0002-2513;CP-0002-2613;CP-0002-2713;CP-0002-2813;CP-0002-2913;CP-0002-3013;CP-0002-3113;CP-0002-3213;CP-0002-3313;CP-0002-3413;CP-0002-3513;CP-0002-3613;CP-0002-3713;CP-0002-3813;CP-0002-3913;CP-0002-4013;CP-0001-1414;CP-0001-1415;CP-0001-1416;CP-0001-1417;CP-0001-1418;CP-0001-1419;CP-0001-1420;CP-0001-1421;CP-0001-1422;CP-0001-1423;CP-0001-1424;CP-0002-1425;CP-0002-1426;CP-0002-1427;CP-0002-1428;CP-0002-1429;CP-0002-1430;CP-0002-1431;CP-0002-1432;CP-0002-1433;CP-0002-1434;CP-0002-1435;CP-0002-1436;CP-0002-1437;CP-0002-1438;CP-0002-1439;CP-0002-1440;CP-0001-1514;CP-0001-1614;CP-0001-1714;CP-0001-1814;CP-0001-1914;CP-0001-2014;CP-0001-2114;CP-0001-2214;CP-0001-2314;CP-0001-2414;CP-0002-2514;CP-0002-2614;CP-0002-2714;CP-0002-2814;CP-0002-2914;CP-0002-3014;CP-0002-3114;CP-0002-3214;CP-0002-3314;CP-0002-3414;CP-0002-3514;CP-0002-3614;CP-0002-3714;CP-0002-3814;CP-0002-3914;CP-0002-4014;CP-0001-1515;CP-0001-1516;CP-0001-1517;CP-0001-1518;CP-0001-1519;CP-0001-1520;CP-0001-1521;CP-0001-1522;CP-0001-1523;CP-0001-1524;CP-0002-1525;CP-0002-1526;CP-0002-1527;CP-0002-1528;CP-0002-1529;CP-0002-1530;CP-0002-1531;CP-0002-1532;CP-0002-1533;CP-0002-1534;CP-0002-1535;CP-0002-1536;CP-0002-1537;CP-0002-1538;CP-0002-1539;CP-0002-1540;CP-0001-1615;CP-0001-1715;CP-0001-1815;CP-0001-1915;CP-0001-2015;CP-0001-2115;CP-0001-2215;CP-0001-2315;CP-0001-2415;CP-0002-2515;CP-0002-2615;CP-0002-2715;CP-0002-2815;CP-0002-2915;CP-0002-3015;CP-0002-3115;CP-0002-3215;CP-0002-3315;CP-0002-3415;CP-0002-3515;CP-0002-3615;CP-0002-3715;CP-0002-3815;CP-0002-3915;CP-0002-4015;CP-0001-1616;CP-0001-1617;CP-0001-1618;CP-0001-1619;CP-0001-1620;CP-0001-1621;CP-0001-1622;CP-0001-1623;CP-0001-1624;CP-0002-1625;CP-0002-1626;CP-0002-1627;CP-0002-1628;CP-0002-1629;CP-0002-1630;CP-0002-1631;CP-0002-1632;CP-0002-1633;CP-0002-1634;CP-0002-1635;CP-0002-1636;CP-0002-1637;CP-0002-1638;CP-0002-1639;CP-0002-1640;CP-0001-1716;CP-0001-1816;CP-0001-1916;CP-0001-2016;CP-0001-2116;CP-0001-2216;CP-0001-2316;CP-0001-2416;CP-0002-2516;CP-0002-2616;CP-0002-2716;CP-0002-2816;CP-0002-2916;CP-0002-3016;CP-0002-3116;CP-0002-3216;CP-0002-3316;CP-0002-3416;CP-0002-3516;CP-0002-3616;CP-0002-3716;CP-0002-3816;CP-0002-3916;CP-0002-4016;CP-0001-1717;CP-0001-1718;CP-0001-1719;CP-0001-1720;CP-0001-1721;CP-0001-1722;CP-0001-1723;CP-0001-1724;CP-0002-1725;CP-0002-1726;CP-0002-1727;CP-0002-1728;CP-0002-1729;CP-0002-1730;CP-0002-1731;CP-0002-1732;CP-0002-1733;CP-0002-1734;CP-0002-1735;CP-0002-1736;CP-0002-1737;CP-0002-1738;CP-0002-1739;CP-0002-1740;CP-0001-1817;CP-0001-1917;CP-0001-2017;CP-0001-2117;CP-0001-2217;CP-0001-2317;CP-0001-2417;CP-0002-2517;CP-0002-2617;CP-0002-2717;CP-0002-2817;CP-0002-2917;CP-0002-3017;CP-0002-3117;CP-0002-3217;CP-0002-3317;CP-0002-3417;CP-0002-3517;CP-0002-3617;CP-0002-3717;CP-0002-3817;CP-0002-3917;CP-0002-4017;CP-0001-1818;CP-0001-1819;CP-0001-1820;CP-0001-1821;CP-0001-1822;CP-0001-1823;CP-0001-1824;CP-0002-1825;CP-0002-1826;CP-0002-1827;CP-0002-1828;CP-0002-1829;CP-0002-1830;CP-0002-1831;CP-0002-1832;CP-0002-1833;CP-0002-1834;CP-0002-1835;CP-0002-1836;CP-0002-1837;CP-0002-1838;CP-0002-1839;CP-0002-1840;CP-0001-1918;CP-0001-2018;CP-0001-2118;CP-0001-2218;CP-0001-2318;CP-0001-2418;CP-0002-2518;CP-0002-2618;CP-0002-2718;CP-0002-2818;CP-0002-2918;CP-0002-3018;CP-0002-3118;CP-0002-3218;CP-0002-3318;CP-0002-3418;CP-0002-3518;CP-0002-3618;CP-0002-3718;CP-0002-3818;CP-0002-3918;CP-0002-4018;CP-0002-1919;CP-0002-1920;CP-0002-1921;CP-0002-1922;CP-0002-1923;CP-0002-1924;CP-0002-1925;CP-0002-1926;CP-0002-1927;CP-0002-1928;CP-0002-1929;CP-0002-1930;CP-0002-1931;CP-0002-1932;CP-0002-1933;CP-0002-1934;CP-0002-1935;CP-0002-1936;CP-0002-1937;CP-0002-1938;CP-0002-1939;CP-0002-1940;CP-0002-2019;CP-0002-2119;CP-0002-2219;CP-0002-2319;CP-0002-2419;CP-0002-2519;CP-0002-2619;CP-0002-2719;CP-0002-2819;CP-0002-2919;CP-0002-3019;CP-0002-3119;CP-0002-3219;CP-0002-3319;CP-0002-3419;CP-0002-3519;CP-0002-3619;CP-0002-3719;CP-0002-3819;CP-0002-3919;CP-0002-4019;CP-0002-2020;CP-0002-2021;CP-0002-2022;CP-0002-2023;CP-0002-2024;CP-0002-2025;CP-0002-2026;CP-0002-2027;CP-0002-2028;CP-0002-2029;CP-0002-2030;CP-0002-2031;CP-0002-2032;CP-0002-2033;CP-0002-2034;CP-0002-2035;CP-0002-2036;CP-0002-2037;CP-0002-2038;CP-0002-2039;CP-0002-2040;CP-0002-2120;CP-0002-2220;CP-0002-2320;CP-0002-2420;CP-0002-2520;CP-0002-2620;CP-0002-2720;CP-0002-2820;CP-0002-2920;CP-0002-3020;CP-0002-3120;CP-0002-3220;CP-0002-3320;CP-0002-3420;CP-0002-3520;CP-0002-3620;CP-0002-3720;CP-0002-3820;CP-0002-3920;CP-0002-4020;CP-0002-2121;CP-0002-2122;CP-0002-2123;CP-0002-2124;CP-0002-2125;CP-0002-2126;CP-0002-2127;CP-0002-2128;CP-0002-2129;CP-0002-2130;CP-0002-2131;CP-0002-2132;CP-0002-2133;CP-0002-2134;CP-0002-2135;CP-0002-2136;CP-0002-2137;CP-0002-2138;CP-0002-2139;CP-0002-2140;CP-0002-2221;CP-0002-2321;CP-0002-2421;CP-0002-2521;CP-0002-2621;CP-0002-2721;CP-0002-2821;CP-0002-2921;CP-0002-3021;CP-0002-3121;CP-0002-3221;CP-0002-3321;CP-0002-3421;CP-0002-3521;CP-0002-3621;CP-0002-3721;CP-0002-3821;CP-0002-3921;CP-0002-4021;CP-0002-2222;CP-0002-2223;CP-0002-2224;CP-0002-2225;CP-0002-2226;CP-0002-2227;CP-0002-2228;CP-0002-2229;CP-0002-2230;CP-0002-2231;CP-0002-2232;CP-0002-2233;CP-0002-2234;CP-0002-2235;CP-0002-2236;CP-0002-2237;CP-0002-2238;CP-0002-2239;CP-0002-2240;CP-0002-2322;CP-0002-2422;CP-0002-2522;CP-0002-2622;CP-0002-2722;CP-0002-2822;CP-0002-2922;CP-0002-3022;CP-0002-3122;CP-0002-3222;CP-0002-3322;CP-0002-3422;CP-0002-3522;CP-0002-3622;CP-0002-3722;CP-0002-3822;CP-0002-3922;CP-0002-4022;CP-0002-2323;CP-0002-2324;CP-0002-2325;CP-0002-2326;CP-0002-2327;CP-0002-2328;CP-0002-2329;CP-0002-2330;CP-0002-2331;CP-0002-2332;CP-0002-2333;CP-0002-2334;CP-0002-2335;CP-0002-2336;CP-0002-2337;CP-0002-2338;CP-0002-2339;CP-0002-2340;CP-0002-2423;CP-0002-2523;CP-0002-2623;CP-0002-2723;CP-0002-2823;CP-0002-2923;CP-0002-3023;CP-0002-3123;CP-0002-3223;CP-0002-3323;CP-0002-3423;CP-0002-3523;CP-0002-3623;CP-0002-3723;CP-0002-3823;CP-0002-3923;CP-0002-4023;CP-0002-2424;CP-0002-2425;CP-0002-2426;CP-0002-2427;CP-0002-2428;CP-0002-2429;CP-0002-2430;CP-0002-2431;CP-0002-2432;CP-0002-2433;CP-0002-2434;CP-0002-2435;CP-0002-2436;CP-0002-2437;CP-0002-2438;CP-0002-2439;CP-0002-2440;CP-0002-2524;CP-0002-2624;CP-0002-2724;CP-0002-2824;CP-0002-2924;CP-0002-3024;CP-0002-3124;CP-0002-3224;CP-0002-3324;CP-0002-3424;CP-0002-3524;CP-0002-3624;CP-0002-3724;CP-0002-3824;CP-0002-3924;CP-0002-4024;CP-0002-2525;CP-0002-2526;CP-0002-2527;CP-0002-2528;CP-0002-2529;CP-0002-2530;CP-0002-2531;CP-0002-2532;CP-0002-2533;CP-0002-2534;CP-0002-2535;CP-0002-2536;CP-0002-2537;CP-0002-2538;CP-0002-2539;CP-0002-2540;CP-0002-2625;CP-0002-2725;CP-0002-2825;CP-0002-2925;CP-0002-3025;CP-0002-3125;CP-0002-3225;CP-0002-3325;CP-0002-3425;CP-0002-3525;CP-0002-3625;CP-0002-3725;CP-0002-3825;CP-0002-3925;CP-0002-4025;CP-0002-2626;CP-0002-2627;CP-0002-2628;CP-0002-2629;CP-0002-2630;CP-0002-2631;CP-0002-2632;CP-0002-2633;CP-0002-2634;CP-0002-2635;CP-0002-2636;CP-0002-2637;CP-0002-2638;CP-0002-2639;CP-0002-2640;CP-0002-2726;CP-0002-2826;CP-0002-2926;CP-0002-3026;CP-0002-3126;CP-0002-3226;CP-0002-3326;CP-0002-3426;CP-0002-3526;CP-0002-3626;CP-0002-3726;CP-0002-3826;CP-0002-3926;CP-0002-4026;CP-0002-2727;CP-0002-2728;CP-0002-2729;CP-0002-2730;CP-0002-2731;CP-0002-2732;CP-0002-2733;CP-0002-2734;CP-0002-2735;CP-0002-2736;CP-0002-2737;CP-0002-2738;CP-0002-2739;CP-0002-2740;CP-0002-2827;CP-0002-2927;CP-0002-3027;CP-0002-3127;CP-0002-3227;CP-0002-3327;CP-0002-3427;CP-0002-3527;CP-0002-3627;CP-0002-3727;CP-0002-3827;CP-0002-3927;CP-0002-4027;CP-0002-2828;CP-0002-2829;CP-0002-2830;CP-0002-2831;CP-0002-2832;CP-0002-2833;CP-0002-2834;CP-0002-2835;CP-0002-2836;CP-0002-2837;CP-0002-2838;CP-0002-2839;CP-0002-2840;CP-0002-2928;CP-0002-3028;CP-0002-3128;CP-0002-3228;CP-0002-3328;CP-0002-3428;CP-0002-3528;CP-0002-3628;CP-0002-3728;CP-0002-3828;CP-0002-3928;CP-0002-4028;CP-0002-2929;CP-0002-2930;CP-0002-2931;CP-0002-2932;CP-0002-2933;CP-0002-2934;CP-0002-2935;CP-0002-2936;CP-0002-2937;CP-0002-2938;CP-0002-2939;CP-0002-2940;CP-0002-3029;CP-0002-3129;CP-0002-3229;CP-0002-3329;CP-0002-3429;CP-0002-3529;CP-0002-3629;CP-0002-3729;CP-0002-3829;CP-0002-3929;CP-0002-4029;CP-0002-3030;CP-0002-3031;CP-0002-3032;CP-0002-3033;CP-0002-3034;CP-0002-3035;CP-0002-3036;CP-0002-3037;CP-0002-3038;CP-0002-3039;CP-0002-3040;CP-0002-3130;CP-0002-3230;CP-0002-3330;CP-0002-3430;CP-0002-3530;CP-0002-3630;CP-0002-3730;CP-0002-3830;CP-0002-3930;CP-0002-4030;CP-0002-3131;CP-0002-3132;CP-0002-3133;CP-0002-3134;CP-0002-3135;CP-0002-3136;CP-0002-3137;CP-0002-3138;CP-0002-3139;CP-0002-3140;CP-0002-3231;CP-0002-3331;CP-0002-3431;CP-0002-3531;CP-0002-3631;CP-0002-3731;CP-0002-3831;CP-0002-3931;CP-0002-4031;CP-0002-3232;CP-0002-3233;CP-0002-3234;CP-0002-3235;CP-0002-3236;CP-0002-3237;CP-0002-3238;CP-0002-3239;CP-0002-3240;CP-0002-3332;CP-0002-3432;CP-0002-3532;CP-0002-3632;CP-0002-3732;CP-0002-3832;CP-0002-3932;CP-0002-4032;CP-0002-3333;CP-0002-3334;CP-0002-3335;CP-0002-3336;CP-0002-3337;CP-0002-3338;CP-0002-3339;CP-0002-3340;CP-0002-3433;CP-0002-3533;CP-0002-3633;CP-0002-3733;CP-0002-3833;CP-0002-3933;CP-0002-4033;CP-0002-3434;CP-0002-3435;CP-0002-3436;CP-0002-3437;CP-0002-3438;CP-0002-3439;CP-0002-3440;CP-0002-3534;CP-0002-3634;CP-0002-3734;CP-0002-3834;CP-0002-3934;CP-0002-4034;CP-0002-3535;CP-0002-3536;CP-0002-3537;CP-0002-3538;CP-0002-3539;CP-0002-3540;CP-0002-3635;CP-0002-3735;CP-0002-3835;CP-0002-3935;CP-0002-4035;CP-0002-3636;CP-0002-3637;CP-0002-3638;CP-0002-3639;CP-0002-3640;CP-0002-3736;CP-0002-3836;CP-0002-3936;CP-0002-4036;CP-0002-3737;CP-0002-3738;CP-0002-3739;CP-0002-3740;CP-0002-3837;CP-0002-3937;CP-0002-4037;CP-0002-3838;CP-0002-3839;CP-0002-3840;CP-0002-3938;CP-0002-4038;CP-0002-3939;CP-0002-3940;CP-0002-4039;CP-0002-4040", // Multiple SKU"s Seperated by Semi-Colons

primaryClr: "#ed1b67",

neutralClr: "#EBEBEB",

buttonClr: "#EEE",

textClr: "#333",

tabClr: "#eee",

ratingStars: false,

showAvatars: true,

perPage: 10

});

</script> 

</div>
{% endcomment %}

<script src="https://widget.reviews.io/rich-snippet/dist.js"></script>
<script>
richSnippet({
    store: 'canvasprints.com',
    sku: '{{ product.variants | map: "sku" | join: ";" }};{{ product.variants | map: "id" | join: ";" }}',
  
  data: {
                   category: {{ product.type | json }},
                   gtin12:"{{product.variants.first.barcode}}",
                  url: "{{ shop.url }}{{ product.url }}",
                  {%- if product.featured_image -%}
                  		image: 'https:{{ product.featured_image | product_img_url: 'grande' }}',
                  {%- endif -%}
                  {% if variant.image %}
                  {% assign variant_image_size = variant.image.width | append: 'x' %}
                        image: "http:{{ variant.image.src | img_url: variant_image_size }}",
                  {% endif %}
                  
                  description: "{{ product.description | strip_html | strip_newlines | escape }}",
                  offers: [{
            		  type: 'Offer',
                      price: "{{ product.selected_or_first_available_variant.price | money_without_currency | replace : ',', '' }}",
                      priceCurrency: "{{ shop.currency }}",
                      url: "{{ shop.url }}{{ product.url }}",
                      availability: "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
                      priceValidUntil: "{{ "now" | date: "%s" | plus: 2592000 | date: "%Y-%m-%-d" }}",
                  }],
                  brand: {
                    type: 'Brand',
                    name: '{{ product.vendor | escape }}',
                  },
              }

});
</script>

<!-- Please Keep For SEO Purposes -->
<link rel="canonical" href="{{ canonical_url }}" />